:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --hover-color: #2196F3;
    --darc-bg-color: #2F303A;
    --secondary-text-color: #FFFFFF;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.menu.link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
}
.body{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700px;
}
.logo {
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.studio {
    color: #000;
}
.header {
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-position {
    display: flex;
    align-items: center;
}
.menu-link {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover {
    color: #2196F3;
}
.menu-link:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    top: 44px;
}
.menu-list-item {
    position: relative;
}
.svg-envelope, .svg-phone {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-phone{
    fill: #757575;
    transition-property: fill;
    margin-right: 2px;
}
.svg-envelope {
    fill: #757575;
    transition-property: fill;
    margin-right: 2px;
}
.contacts-item {
    width: 161px;
    height: 16px;
}
.contacts-link {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.contacts-link:hover .svg-phone {
    fill: #2196f3;
}
.contacts-link:hover .svg-envelope {
    fill: #2196f3;
}
.menu-link:hover {
    color: #2196f3;
}
.contacts-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover {
    color: #2196f3;
}
.menu-list {
    margin-left: 93px;
    display: flex;
    column-gap: 50px;
}
.contacts {
    margin-left: 344px;
    display: flex;
    column-gap: 50px;
}
/* main */
.hero {
    width: 1170px;
    margin-top: 94px;
    margin-bottom: 94px;
    height: 1360px;
    margin: 0 auto;
}
.hero-list {
    display: flex;
    column-gap: 8px;
   margin-left: 0;
   margin-right: 0;
   width: 575px;
   height: 54px;
   margin: 0 auto;
   margin-bottom: 34px;
}
.hero-button1 {
    width: 73px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button2 {
    width: 125px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button3 {
    width: 112px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button4 {
    width: 103px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button5 {
    width: 130px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button1:hover {
    background-color: #2196F3;
}
.hero-button2:hover {
    background-color: #2196F3;
}
.hero-button3:hover {
    background-color: #2196F3;
}
.hero-button4:hover {
    background-color: #2196F3;
} 
.hero-button5:hover {
    background-color: #2196F3;
}
.projects-list-title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    line-height: 1.60;
    letter-spacing: 0.03em;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    transform: translateY(-100%);
    transition: transform 750ms;
    padding: 63px 24px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay:hover .overlay-text{
    transform: translateY(0);
  }
  .overlay{
    position: relative;
    overflow: hidden;
  }
.projects-list-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}
.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
    flex-basis: calc((100% - 2 * 30px) / 3);
}
.projects-list-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
/* footer */
.footer {
    margin: 0 auto;
    width: 1600px;
    height: 252px;
    padding-top: 60px;
    background-color: #2F303A;
}
.footer-postion {
    display: flex;
    align-items: center;
}
.studio-footer {
    color: #fff;
}
.address-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
width: 231px;
}
.team-social-icon {
    padding: 12px;
    border-radius: 50%;
    display: block;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-bottom: 30px;
 }
 .team-social-icon:hover {
background-color: #2196f3;
 }
 .team-icons {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons:hover{
fill: #fff;
}
.logo-footer {
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
padding-bottom: 20px;
}
.contacts-footer {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    row-gap: 12px;
    width: 231px;
    height: 81px;
}
.footer-socials-list {
    display: flex;
}
.footer-socials {
    margin-left: 70px;
    width: 206px;
    height: 80px;
}
.footer-socials-title {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}
