:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --hover-color: #2196F3;
    --darc-bg-color: #2F303A;
    --secondary-text-color: #FFFFFF;
}
.menu.link{
    color: var(--main-title-color)
}
.body{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700px;
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 900px;
}
.hero-title{
    font-size: 44px;
    font-weight: 900px;
}
.button {
    font-size: 16px;
}
.action-title {
    font-size: 36px;
}
.team-title {
    font-size: 36px;
}
.team-list-title {
    font-size: 16px;
}
.team-text {
    font-size: 16px;
}
.projects-list-title {
    font-size: 18px;
}
.projects-list-text {
font-size: 16px;
}
.specialty-item-text {
    font-weight: 400px;
}
.specialty-item-title {
    font-weight: 400px;
}
.container {
    display: flex;
    width: 1170px;
    height: 2346px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

