:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --hover-color: #2196F3;
    --darc-bg-color: #2F303A;
    --secondary-text-color: #FFFFFF;
}
.menu.link{
    color: var(--main-title-color)
}
