:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --hover-color: #2196F3;
    --darc-bg-color: #2F303A;
    --secondary-text-color: #FFFFFF;
}
/* header */
.menu.link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
}
.body{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700px;
}
.logo {
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
margin-left: 215px;
}
.studio {
    color: #000;
}
.header-portfolio {
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 94px;
}
.header-position {
    display: flex;
    align-items: center;
}
.menu-link {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
}
.contacts-link {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.menu-link:hover {
    color: #2196f3;
}
.contacts-link:hover{
    color: #2196f3;
}
.menu-list {
    margin-left: 93px;
    display: flex;
    column-gap: 50px;
}
.contacts {
    margin-left: 344px;
    margin-right: 215px;
    display: flex;
    column-gap: 50px;
}
/* main */
.hero {
    width: 1170px;
    margin-top: 94px;
    margin-bottom: 94px;
    height: 1360px;
    margin: 0 auto;
}
.hero-list {
    display: flex;
    column-gap: 8px;
   margin-left: 0;
   margin-right: 0;
   width: 575px;
   height: 54px;
   margin: 0 auto;
   margin-bottom: 34px;
}
.hero-button1 {
    width: 73px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button2 {
    width: 125px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button3 {
    width: 112px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button4 {
    width: 103px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button5 {
    width: 130px;
    height: 38px;
    background-color: #F5F4FA;
    border-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.hero-button1:hover {
    background-color: #2196F3;
}
.hero-button2:hover {
    background-color: #2196F3;
}
.hero-button3:hover {
    background-color: #2196F3;
}
.hero-button4:hover {
    background-color: #2196F3;
} 
.hero-button5:hover {
    background-color: #2196F3;
}
.projects-list-title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.projects-list-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}
.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
}
.projects-list-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
/* footer */
.footer {
    margin: 0 auto;
    width: 1600px;
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    padding-left: 215px;
}
.studio-footer {
    color: #fff;
}
.address-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.logo-footer {
    text-decoration: none;
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
padding-bottom: 20px;
}
.contacts-footer {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    row-gap: 9px;
}