:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --hover-color: #2196F3;
    --darc-bg-color: #2F303A;
    --secondary-text-color: #FFFFFF;
}
.menu.link{
    color: var(--main-title-color)
}
.body{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700px;
}
.logo{
    font-family: Raleway;
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.hero-title{
    font-size: 44px;
    font-weight: 900px;
}
.button {
    font-size: 16px;
}
.action-title {
    font-size: 36px;
}
.team-title {
    font-size: 36px;
}
.team-list-title {
    font-size: 16px;
}
.team-text {
    font-size: 16px;
}
.projects-list-title {
    font-size: 18px;
}
.projects-list-text {
font-size: 16px;
}
.specialty-item-text {
    font-weight: 400px;
}
.specialty-item-title {
    font-weight: 400px;
}
.container {
    width: 1170px;
  margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    flex-basis: calc((100% - 2 * 30px) / 3); 
      }
   .menu-list {
    display: flex;
    column-gap: 50px;
   }
   img {
    display: block;
    max-width: 100%;
    height: auto;
   }
   .menu-list {
    display: flex;

   }
   .menu-link{
    text-decoration: none;
    column-gap: 50px;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
margin-right: 93px;
margin-left: 93px;
   }
   .hero-title {
    font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
   }
   .hero {
    width: 1600px;
    background-color: #2f303a;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .button1 {
    width: 216px;
height: 50px;
   }
.header {
    width: 1600px;
    height: 100px;
    margin: auto;
}
.specialty-list {
    width: 1170px;
    height: 98px;
    display: flex;
    column-gap: 30px;
}
.action-title {
    font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.action-list {
    width: 1170px;
    height: 386px;
    display: flex;
    column-gap: 30px;
}
.team-title {
    font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team {
    display: flex;
    align-content: center;
    justify-content: center;
}
.team-list {
    width: 1600px;
    height: 648px;
    display: flex;
    column-gap: 30px;
}
.specialty-item-title {
    font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.specialty-item-text {
    font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.team {
    background-color: #F5F4FA;
    width: 1600px;
}
.footer {
    background-color:#2F303A ;

   
}
