.action {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
    width: 1170px;
}
.action-item {
    position: relative;
    display: flex;
    justify-content: center;
}
.action-image {
    width: 370px;
}
.action-list {
    align-items: center;
    display: flex;
    column-gap: 30px;
}
.action-text1 {
    position: absolute;
    bottom: 0px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 27px;
    height: 70px;
}
.action-text2 {
    position: absolute;
    bottom: 0px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 27px;
    height: 70px;
}
.action-text3 {
    position: absolute;
    bottom: 0px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    padding-left: 94px;
    padding-right: 94px;
    padding-top: 27px;
    height: 70px;
}
.action-title {
    font-family: $font-family;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
padding-bottom: 50px;
}