.clients {
    width: 1170px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.clients-list {
    display: flex;
    column-gap: 30px;
    margin-bottom: 94px;
}
.clients-list-item {
    width: 170px;
    height: 92px;
}
.clients-title {
    margin-top: 94px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.clients-icon {
        width: 170px;
        height: 92px;
        padding: 23px;
        margin-top: 50px;
        margin-bottom: 94px;
         fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 2px;
        transition-property: fill, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }
.clients-icon:hover{
        fill: #2196f3;
        border: 1px solid #2196f3 ;
    }