.hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient( to top,rgba(47,48,58, 0.40), rgba(47,48,58, 0.60)), url(../images/teamwork.png)   ;;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}
.hero-title {
    font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.button1 {
    width: 216px;
    height: 50px;
    margin-left: 470px;
    background-color: #2196F3;
    font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
}