.specialty {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1170px;
    height: 248px;
    margin: 0 auto;
    margin-bottom: 94px;
}
.specialty-list {
    padding-bottom: 94px;
    display: flex;
    column-gap: 30px;
}
.specialty-item1:nth-child(1):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image:url(../images/antenna.png) ;
}
.specialty-item2:nth-child(2):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image:url(../images/clock.png) ;
}
.specialty-item3:nth-child(3):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image:url(../images/diagram.png) ;
}
.specialty-item4:nth-child(4):before{
    content: '';
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-image:url(../images/astronaunt.png) ;
}
.specialty-item-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.specialty-item-title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}