.team {
    background-color: #F5F4FA;
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
    height: 648px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-title {
    font-family: $font-family;
font-weight: 700;
font-size: 36px;
padding-bottom: 50px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team-list {
    display: flex;
    column-gap: 30px;
}
.team-icons {
        fill: #AFB1B8;
        width: 20px;
        height: 20px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons:hover{
    fill: #fff;
 }
 .team-icon-list {
    width: 206px;
    height: 44px;
    margin-left: 10px;
    margin-top: 16px;
    column-gap: 12px;
    display: flex;
 }
 .team-social-icon {
    padding: 12px;
    border-radius: 50%;
    display: block;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-bottom: 30px;
 }
 .team-social-icon:hover {
background-color: #2196f3;
 }
.team-item {
    width: 270px;
height: 428px;
box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
background: #fff;
}
.team-image {
    width: 270px;
    height: 260px;
}
.team-list-title {
    font-family: $font-family;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
padding-bottom: 10px;
margin-top: 30px;
}
.team-text {
    font-family: $font-family;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}